# Essential dependencies
#requests #AppUI
#pandas #ui django app
#plotly # django
#sqlalchemy
#pyyaml
#yfinance #django app
#ipywidgets #ui
#django #django
#djangorestframework #django
#PyQt6 #ui
#qasync #ui
#PyQt6-WebEngine #ui
#markdown    #django
#django-documentation #django
#pytz #django app
#channels #django ui
#websockets #django uno

requests
pandas
pyyaml
ipywidgets
PyQt6
qasync
PyQt6-WebEngine
channels
websockets
mysql

