<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Example</title>
    <script>
        var socket = new WebSocket('ws://172.20.0.3:8000/ws/message/');

        socket.onopen = function() {
            console.log("WebSocket connection established");
        };

        socket.onmessage = function(event) {
            console.log("Message from server: " + event.data);
        };

        function sendMessage() {
            var message = document.getElementById("messageInput").value;
            socket.send(JSON.stringify({ 'message': message }));
        }
    </script>
</head>
<body>
    <input type="text" id="messageInput" placeholder="Enter message">
    <button onclick="sendMessage()">Send Message</button>
</body>
</html>
