# Django API
# Essential dependencies
requests
pandas
plotly
sqlalchemy
pyyaml
yfinance
django
djangorestframework
markdown
django-documentation
pytz
channels
websockets
ipywidgets
PyQt6
qasync
mysql
django-redis
channels_redis
channels["daphne"]